<div class="page-header">
    <h1>Todos los estados</h1>
</div>
<%= link_to "Crear un nuevo Post",new_ejemplo_path, class:"btn btn-success"%>
<% @ejemplos.each do |ejemplo|%>
    <div class="ejemplo">
        <strong><%=ejemplo.nombre%></strong>
        <p><%=ejemplo.contenido%></p>
        <div>
            <%= link_to  time_ago_in_words(ejemplo.created_at)+" ago",ejemplo%>
            <span class="admin">
                <%= link_to "Editar", edit_ejemplo_path(ejemplo)%>
                <%= link_to "Eliminar", ejemplo,method: :delete, data:   {confirm: "estas seguro que quiere eliminar estos datos"}%>
            </span>
        </div>
    </div>
    
<% end %>